@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD7mHXmvxVejkon_eSDtAqjajaLgIaQoYioA&s" alt="meme" width="100px" height="100px"/>